//      COLORS
$redPink: #FF6056;
$pink: #F39B9B;
$orange:#FF9B4D;
$yellow: #FFEC86;
$lightGreen: #82ED9A;
$darkGreen: #005B26;

@font-face {
    font-family: FuturaPTBold;
    src: url("../assets/Fonts/FuturaPTBold.otf") format("woff");
}
@font-face {
    font-family: FuturaPTBook;
    src: url("../assets/Fonts/FuturaPTBook.otf") format("woff");
}
@font-face {
    font-family: FuturaPTDemi;
    src: url("../assets/Fonts/FuturaPTDemi.otf") format("woff");
}
@font-face {
    font-family: FuturaPTExtraBold;
    src: url("../assets/Fonts/FuturaPTExtraBold.otf") format("woff");
}
@font-face {
    font-family: FuturaPTHeavy;
    src: url("../assets/Fonts/FuturaPTHeavy.otf") format("woff");
}
@font-face {
    font-family: FuturaPTMedium;
    src: url("../assets/Fonts/FuturaPTMedium.otf") format("woff");
}